.app-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  margin-left: 250px;
  padding: 2rem;
  height: 100vh;
  overflow-y: auto;
}

.navbar-sep {
  margin-right: 50px;
}
