.model-card {
  padding: 16px 30px;
  border: 2px solid var(--light-gray);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  min-width: 200px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.model-card:hover {
  border-color: var(--primary-100);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.model-card.selected {
  border-color: var(--primary-100);
  border-width: 2px;
  background-color: var(--primary-10);
}

.model-name {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  color: var(--black-100);
  text-align: center;
} 